
/* Header */

body{
    margin: 0px;
    padding: 0;
}

header{
    height: 80px;
    margin: 10px;
    display: flex;
}

.logo{
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block ;
    padding: 10px;;
}

ul li a{
    color: black;
}

