body {
  margin: 0px;
  padding: 0;
}

button {
  background-color: #f1a501;
  border: none;
  padding: 15px 20px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

h5 {
  color: #1e1d4c;
  font-size: 20px;
  font-weight: 600;
  font-family: "open sans";
  font-weight: 600;
  line-height: 27px;
}

h3 {
  color: #df6951;
  font-size: 20px;
  font-family: poppins;
  font-weight: 900;
}

h1 {
  color: white;
  font-family: volkhov;
  font-size: 74px;
}

p {
  font-family: poppins;
}
/************ BOF Header*******/

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 140px;
  padding: 10px;
}

.logo img:first-child {
  max-width: 80px;
  max-height: 30px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

ul li a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 17px;
}

/************     EOF Header*******************/

/* ************** BOF Banner *************** */

.banner {
  padding: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/illustration_principale.jpg");
}

.banner > p {
  color: #bfc0cd;
  font-family: poppins;
  max-width: 480px;
  padding-bottom: 10px;
}

.jadoo {
  background-image: url(images/souligne_rose.svg);
  background-position: bottom 12% left;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20%;
}

/* EOF BANNER */

/* BOF decouvrez */

h4 {
  font-size: 18px;
  font-family: poppins;
  color: #5e6282;
  text-align: center;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 0;
  margin-top: 50px;
}

h2 {
  color: #14183e;
  font-family: volkhov;
  font-size: 50px;
  text-align: center;
  line-height: 64.5px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

.decouvrez {
  background-image: url(images/decor_1.svg);
  background-repeat: no-repeat;
  background-position: 95% 2%;
  max-width: 1000px;
  margin: 0 auto;
}

.cartes {
  display: flex;
  justify-content: center;
  background-image: url(images/decoration_filet.svg);
  background-repeat: no-repeat;
  background-position: 79% 70%;
}

.carte {
  color: #5e6282;
  font-size: 18px;
  font-family: poppins;
  text-align: center;
  background-color: white;
  height: 457px;
  max-width: 314px;
  margin: 20px;
  border-radius: 24px;
  box-shadow: -10px 0px 50px 10px lightgrey;
}

.carte p {
  padding: 0 30px;
}

.carte img {
  border-radius: 24px 24px 0 0;
  max-width: 314px;
}

/* EOF decouvrez plats */

/* BOF decouvrez maki  */

.decouvrez_maki {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.decouvrez_maki div {
  color: #14183e;
  height: 314px;
  width: 25%;
  background-color: white;
  margin: 10px;
  text-align: center;
  border-radius: 24px;
  box-shadow: -10px 0px 50px 10px lightgrey;
}

.decouvrez_maki p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
